<strong>Olá {{ student }}</strong>
<p>Sua matrícula foi realizada!!! Esperamos que você esteja tão empolgado quanto estamos em receber você. Confira os
  detalhes de sua matrícula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Início: </strong> {{ start }} <br />
  <strong>Fim: </strong> {{ end }} <br />
  <strong>Valor pago: </strong> {{ total }} <br />
  <br />
  <small>
    Em caso de divergência ou esclarecimentos favor dirigir-se a recepção.
  </small>
</p>
